{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plan_tratamiento creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('plan_tratamiento_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
