{% extends 'base.html.twig' %}

{%block title %}
Título
{% endblock %}

{% block body %}
  <div class="box-body table-responsive">
    <table id='tabla' class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Control</th>
                 </div>
            </tr>
        </thead>
        <tbody>
        {% for tarea in tareas %}
            <tr>
                <td><a href="{{ path('tarea_show', { 'id': control.id }) }}">{{ control.id }}</a></td>
                <td>{{ tarea.nombre }}</td>
                <td>{{ tarea.control }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</center>
</div>

{% endblock %}
