{% extends 'base.html.twig' %}

{% block body %}

<div class="container" style="margin-top:15px; margin-bottom:250px;">
<br>
<hr>
<center>
    <h2>LISTADO DE CATEGORÍAS DE ACTIVOS</h2>

    <table class='table' border=4>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</a></td>
                <td>{{ categoria.nombre }}</td>
        {% endfor %}

        </tbody>
        </table>
</center>
<ul>
        <li>
            <a href="{{ path('menu_categoria') }}">Regresar</a>
        </li>
    </ul>
</div>
    
{% endblock %}
