{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/panelVertical2.css')}}">
{% endblock %}

{% block body %}


<h1>CONTROLES</h1>

<CENTER><H2>CONTROLES</H2></CENTER>
<hr>
<center>
<div class="vertical-menu">
<div class="page-header">
<a href="{{ path('control_index') }}">Catálogo de Controles</a>
</div>
</center>
<ul>
    <li>
        <a href="{{ path('menu_control') }}">Regresar</a>
    </li>
</ul>








{% endblock %}
