{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/panelVertical2.css')}}">
{% endblock %}

{% block body %}
    <h1>Activos</h1>
<CENTER><H2>PLAN DE TRATAMIENTO</H2></CENTER>
<hr>
<ul>
    <li>
        <a href="{{ path('user_homepage') }}">Regresar</a>
    </li>
</ul>
<center>
<div class="vertical-menu">
<div class="page-header">
<a href="{{ path('plan_tratamiento_index') }}">Ver plan de tratamiento</a>
</div>

<div class="page-header">
<a href="plan_tratamiento_new">Crear plan de tratamiento</a>
</div>

<div class="page-header">
<a href="{{ path('control_index') }}">Controles</a>
</div>

</div >
<center>

{% endblock %}
