{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('public/css/panelVertical2.css')}}">
{% endblock %}

{% block body %}
    <h1>Activos</h1>
<CENTER><H2>TAREAS</H2></CENTER>
<hr>

<ul>
    <li>
        <a href="{{ path('menu_control') }}">Regresar</a>
    </li>
</ul>


<div class="vertical-menu">
   		<div class="page-header">
   		
   		</div>
	
       <a href="{{ path('tarea_index') }}">Ver tareas</a>
   
       <a href="{{ path('tarea_new') }}">Ingresar tarea</a>

      </div>

{% endblock %}
